/* local font hosting */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v32-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/roboto-v32-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto-v32-latin-500.woff2") format("woff2"),
    url("../assets/fonts/roboto-v32-latin-500.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-v32-latin-700.woff2") format("woff2"),
    url("../assets/fonts/roboto-v32-latin-700.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/roboto-v32-latin-900.woff2") format("woff2"),
    url("../assets/fonts/roboto-v32-latin-900.ttf") format("truetype");
}

/* general styling */
html {
  color: #222;
  font-family: "Roboto";
}

/* article */
.lies {
  margin: 0 auto;
  max-width: 28rem;
  padding: 1.5rem 1rem;
}

.lies__title {
  font-size: 2rem; /* fallback size */
  font-size: clamp(2rem, 0.75rem + 6.25vw, 2.5rem);
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

.lies__list {
  list-style: none;
  margin-bottom: 1.5rem;
}

.lies__list-item {
  border-radius: 5px;
  font-size: 0.8125rem; /* fallback size */
  font-size: clamp(0.8125rem, 0.34375rem + 2.34375vw, 1rem);
  font-weight: 500;
  margin-bottom: 0.75rem;
  padding: 1rem;
}

.lies__list-item:last-of-type {
  margin: 0;
}

.lies__list-item--green {
  background-color: #e5fdea;
}
.lies__list-item--yellow {
  background-color: #fcfdd6;
}
.lies__list-item--blue {
  background-color: #e5f9fe;
}
.lies__list-item--pink {
  background-color: #fcf1fe;
}

.lies__subtitle {
  font-size: 1.25rem; /* fallback size */
  font-size: clamp(1.25rem, 0.75rem + 6.25vw, 1.5rem);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.lies__img {
  border-radius: 5px;
  margin-bottom: 0.75rem;
  width: 100%;
}

.lies__desc,
.modal__inner-text {
  font-size: 1.125rem;
  line-height: 1.5;
}

/* modal */
.modal {
  background-color: #212529;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  color: whitesmoke;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 18.125rem;
  height: auto;
  padding: 1.75rem 1.5rem;
}

.modal__inner-title {
  margin: 0 0 0.75rem;
}

.modal__inner-form {
  margin-top: 1rem;
}

.form__input {
  border-radius: 3px;
  border: 1px solid #212529;
  padding: 0.625rem;
  width: 100%;
}

.form__input:first-of-type {
  margin-bottom: 0.5rem;
}

.modal__btn-choice {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0 0;
}

.modal__btn {
  background: buttonface;
  border-color: buttonborder;
  color: buttontext;
  cursor: pointer;
  padding: 0.625rem 1.5rem;
}

.modal__inner-loading {
  text-align: center;
}

.loading {
  margin-bottom: 0.5rem;
  width: 100%;
}

.modal__display-name {
  color: fuchsia;
}
